apiVersion: v1
kind: Secret
metadata:
  name: azuread-creds
  namespace: crossplane-system
type: Opaque
stringData:
  credentials: |
    {
      "tenantId": "tenantId",
      "clientId": "clientId",
      "clientSecret": "clientSecret"
    }
